
<div class="row">
    <div class="col-lg-12 secondaryHeader">
        <h3 class="display-4">@ViewData["Title"]</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8 text-left">
            <hr />
            <h2>Password Leaks and Data breaches</h2>
                <h3>What can you do? <i class="fa fa-ambulance"></i></h3><hr />
            <p>
                Data breaches with disclosure of your passwords and other private information happens more frequently than you would like to think. There are multiple reasons for this, but in the end it means that we should do what we can to protect ourselves better.  This post will outline what you can do to protect yourself better.
                Even though there is not much you can do to avoid sites being hacked and data breaches from occurring. You can reduce the potential impact for yourself by following these guidelines.
            </p>

            <h3>How to increase your password security in four steps</h3>
            <hr />
            <h4>1. Enable Multi-Factor authentication (MFA)</h4>


            <p>If you have a Facebook, Microsoft or Google account (amongst others) you should enable mandatory MFA for these accounts. It means that you will have to provide a One-Time generated password/token delivered via Voice call, Token generator app, E-mail or SMS* as the second factor when you authenticate with these vendors.</p>
            
            <p class="text-center"><i class="fa fa-facebook fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i> <i class="fa fa-linkedin fa-2x"></i> <i class="fa fa-windows fa-2x"></i>
            </p>
            <hr />
            <h4>2. Use your MFA login providers whenever possible</h4>
            <p>
                Whenever a site gives you the option of authentication using Facebook, Google or Microsoft you should really consider this, and normally take advantage of it. In general this means that authentication will be handled by these providers (Google, Facebook) instead of the site you are registering to. This is normally a good thing as these large providers could have better security than the site you are registering to.
            </p>
            <hr />
            <h4>3. Follow the new Password guidelines</h4>
            <p>Unfortunately most sites cannot provide you with a multi-factor login method. If you have to register with a username and password. Follow the <a href="https://pages.nist.gov/800-63-3/sp800-63b.html">NIST guidelines</a> if possible ;-) </p>
            <hr />
            <h4>4. Use a password manager</h4>
            <p>
                If the number of accounts and passwords becomes unmanageable you should probably use a password manager. Keep in mind that password manager services can also be hacked so you should really evaluate if this is your best option. An advantage of password manager is that it also becomes a register over all your accounts historically.
            </p>

        </div>
        <div class="col-1">

        </div>
        <div class="col-3 text-left">
            <hr />
            <h1>Links</h1><hr />

            <ul>
                <li><a href="https://pages.nist.gov/800-63-3/sp800-63b.html">NIST guidelines - publication 800-63b. <i class="fa fa-external-link"></i></a></li>
                <li><a href="http://www.telegraph.co.uk/technology/2017/08/08/man-wrote-password-bible-admits-advice-completely-wrong/">Password guru got it completely wrong. <i class="fa fa-external-link"></i></a> </li>

            </ul>
            <hr />
            <p>
                <a class="btn btn-primary" href="/" role="button">Check your account</a>

            </p>


        </div>


    </div>
</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- breachlist -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3270729169816613"
     data-ad-slot="7514534657"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

