@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-lg-12 secondaryHeader">
        <h3 class="display-4">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            <a href="mailto:Support@example.com">pwd.exposed@outlook.com</a>
        </p>
    </div>
</div>
