
<div class="row">
    <div class="col-md-12 secondaryHeader">
        <h3 class="display-4">@ViewData["Header"]</h3>
    </div>
</div>

<div class="container">
    <div class="row text-left">

        <div class="col-12">

            <h3>@ViewData["Message"]</h3>
            <br>
            <h3>Who built pwd.Exposed?</h3><hr />
            <p>
                First of all, let me emphasize that all data breach information that you get from this site is made available by Troy Hunt and his HaveIBeenPwned API service.
                If you haven't checked it out you really should visit <a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a><br>
                Due to major data breaches that frequently occurs you risk your private information being exposed to the public.
                On this site you can check if your e-mail address or any username is found in any of these breaches.

                For detailed information you should check the background information for the HIBP website.<br>

                Currently, all costs for developing, hosting and maintaining the service comes out of my own pocket.
                In an effort to be self-financed (Azure costs) I optimistically have tried to add a small (but still annoying ;-) Google ad to the site.
                I'm truly sorry for this and hope that it won't bother you too much.
            </p>
            <h3>Why did I build the site?</h3><hr />

            <p>
                This site serves a couple of interest; first of all I get to play around with web development, specifically .NET Core and related cloud technologies.
                Secondly I get to work with security related topics as well. It is an excellent and fulfilling way to stay up to date with the latest technology.

                This site was created purely as a private project. The site is built using Bootstrap 4, Font-awesome and .NET Core 2.x
            </p>
            <h3>Privacy</h3><hr />
            
            You should not enter any passwords (or other sensitive information) on this site.
            I do not store, log or use your e-mail address or any other information you provide.

            If you want to register to be e-mailed in case of a breach this information needs to be stored.
        </div>

    </div>

</div>
